---
import BaseLayout from "@/components/layouts/BaseLayout.astro";

const session = await Astro.locals.auth.validate();
if (session) return Astro.redirect("/", 302); // redirect to profile page
---

<BaseLayout>
  <body>
    <h1>Sign in</h1>
    <a href="/login/github">Sign in with GitHub</a>
  </body>
</BaseLayout>
