---
import { getIndexCourses } from "@/content/_repository";
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import MdContents from "@/components/document/MdContents.astro";

export async function getStaticPaths() {
  const courses = await getIndexCourses();
  return courses.map((course) => ({
    params: { course_slug: course.slug },
    props: { ...course },
  }));
}

type Props = CollectionEntry<"course">;

const { data, render } = Astro.props;
const { Content } = await render();

export const prerender = true;
---

<BaseLayout>
  <h1>{data.title}</h1>
  <MdContents>
    <Content />
  </MdContents>
</BaseLayout>
