---
import { getIndexCourses } from "@/content/_repository";
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import MdContents from "@/components/document/MdContents.astro";
import { CANONICALS } from "@/config";
import WithSideLayout from "@/components/layouts/WithSideLayout.astro";

export async function getStaticPaths() {
  const courses = await getIndexCourses();
  return courses.map((course) => ({
    params: { course_slug: course.slug },
    props: { ...course, slugs: { course_slug: course.slug } },
  }));
}

type Props = CollectionEntry<"course"> & {
  slugs: { course_slug: string };
};

const { data, render, slugs } = Astro.props;
const { Content } = await render();

export const prerender = true;
---

<WithSideLayout
  title={data.title}
  canonical={CANONICALS.COURSE_DETAIL_TOP(slugs.course_slug)}
>
  <div slot="left">a</div>
  <h1>{data.title}</h1>
  <MdContents>
    <Content />
  </MdContents>
</WithSideLayout>
