---
import { styles } from "./Header.css";
import ThemeSwitch from "./ThemeSwitch.astro";
import { AvatarDropdown } from "./AvatarDropdown";
import LogoLink from "./LogoLink.astro";
import Navigation from "./Navigation.astro";

const session = await Astro.locals.auth.validate();
---

<header class={styles.container}>
  <LogoLink />
  <div class={styles.sideContainer}>
    <Navigation />
    {session && <AvatarDropdown user={session.user} client:load />}
    <ThemeSwitch />
  </div>
</header>
