---
import { styles } from "./LeftPanel.css";
import Logo from "./LogoLink.astro";
---

<div class={styles.container}>
  <Logo />
  <slot />
  <div class={styles.footer}>
    <slot name="footer" />
  </div>
</div>
