---
import "@/styles/global.css";
import Head, { type Props as HeadProps } from "./_components/Head.astro";
import Header from "./_components/Header.astro";
import { styles } from "./BaseLayout.css";

export type Props = HeadProps;

const { title, description, canonical } = Astro.props;
---

<html lang="ja">
  <Head title={title} description={description} canonical={canonical} />
  <body>
    <Header />
    <main class={styles.main}>
      <slot />
    </main>
  </body>
</html>
