---
import BaseLayout from "@/components/layouts/BaseLayout.astro";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
---

<BaseLayout>
  <h1>Profile</h1>
  <p>User id: {session.user.userId}</p>
  <p>GitHub username: {session.user.githubUsername}</p>
  <img src={session.user.githubImageUri} alt="Avatar" />
  <form method="post" action="/logout">
    <input type="submit" value="Sign out" />
  </form>
</BaseLayout>
