---
import { getSectionBySlug } from "@/content/_repository";
import MdContents from "@/components/document/MdContents.astro";
import { CANONICALS } from "@/config";
import WithSideLayout from "@/components/layouts/WithSideLayout.astro";

const { course_slug, section_slug } = Astro.params;
if (!course_slug || !section_slug) return Astro.redirect("/");
const section = await getSectionBySlug(course_slug, section_slug);
if (!section) return Astro.redirect("/");
const { Content } = await section.render();
---

<WithSideLayout
  title={section.data.title}
  canonical={CANONICALS.COURSE_DETAIL(course_slug, section_slug)}
>
  <div slot="left">aaa</div>
  <h1>{section.data.title}</h1>
  <MdContents>
    <Content />
  </MdContents>
</WithSideLayout>
