---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import { getIndexCourses } from "@/content/_repository";
import { CANONICALS, CONTENT_INDEX_MATCHER } from "@/config";

const course = await getIndexCourses();
---

<BaseLayout title="Course 一覧" canonical={CANONICALS.COURSE}>
  <h1>Course 一覧</h1>
  <ul>
    {
      course.map((course) => (
        <li>
          <a href={`/course/${course.id.replace(CONTENT_INDEX_MATCHER, "$2")}`}>
            {course.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
